@media (max-width: 1024px) {
    .header {
        &__box {
            height: 80px;
            padding: 20px 10px;
            transition: var(--transition);

            &.active {
                max-width: 100%;
                top: 0;
                height: 90px;
                padding: 20px 15px;
                border-radius: 0;
                border-top: none;
                border-left: none;
                border-right: none;
            }
        }

        .menu {
            position: fixed;
            top: 80px;
            left: 0;
            width: 100%;
            height: calc(100vh - 90px);
            flex-direction: column;
            gap: 0;
            background: var(--white);
            transform: translateY(110%);
            transition: var(--transition);

            &.active {
                transform: none;
                top: 90px;
            }

            &>.menu-item {
                transition: var(--transition);

                &.active {
                    background: var(--coral);

                    &>a {
                        color: var(--white);
                        outline: 1px solid var(--coral);

                        &::after {
                            transform: rotate(-180deg);
                            filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(316deg) brightness(110%) contrast(101%);
                        }
                    }
                }

                &>a {
                    padding: 15px;
                    border-bottom: 1px solid var(--coral);
                    transition: var(--transition);
                }

                .sub-menu {
                    display: none;
                    padding: 20px 0;
                    gap: 25px;
                    visibility: initial;
                    position: initial;
                    transform: none;
                    opacity: 1;
                    border-radius: 0;
                    box-shadow: none;
                    border-bottom: 1px solid var(--coral);

                    &::before {
                        display: none;
                    }

                    a {
                        display: block;
                        padding: 10px 30px;
                        font-size: 16px;
                    }
                }
            }
        }

        &__burger {
            display: block;
            width: 30px;
            height: 30px;
            background: url(../images/header-burger.svg) center / contain no-repeat;
            transition: var(--transition);
            border: none;

            &.active {
                transform: rotate(-360deg);
                background: url(../images/close.svg) center / contain no-repeat;
            }
        }

        &__logo {
            width: 152px;
            height: 30px;
        }
    }

    section {
        margin-top: 80px;
        margin-bottom: 80px;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .index-hero {
        &__list {
            gap: 15px;
        }
    }

    main {
        &>section {
            &:first-child {
                .box {
                    min-height: 550px;
                }
            }
        }
    }

    main {
        &>section {
            margin-top: 80px;
            margin-bottom: 80px;

            &:first-child {
                margin-bottom: 80px;
            }
        }
    }

    .review-hero {
        h2 {
            margin-bottom: 25px;
        }
    }

    .strategies-hero {
        h2 {
            margin-bottom: 25px;
        }

        &__list {
            margin-top: 25px;
        }
    }

    .schedule-hero {
        h2 {
            margin-bottom: 25px;
        }
    }

    .index-reviews {
        h2 {
            &+p {
                margin-bottom: 25px;
            }
        }
    }

    .index-start {
        h2 {
            margin-bottom: 25px;
        }
    }

    .platform-advantages {
        h2 {
            margin-bottom: 25px;
        }
    }

    .index-analitycs {
        h2 {
            margin-bottom: 25px;
        }
    }

    .index-platform {
        h2 {
            margin-bottom: 25px;
        }

        .btn-coral {
            margin-top: 25px;
        }
    }

    .faq-accordion {
        h3 {
            padding: 20px 10px;
        }
    }

    .other {
        h2 {
            margin-bottom: 25px;
        }
    }

    .calendar-find {
        h2 {
            margin-bottom: 25px;
        }

        &__list {
            grid-template-columns: 1fr 1fr;
        }

        &__item {
            min-height: 140px;
            padding-bottom: 60px;
        }
    }

    .currencies-instrument {
        .container {
            grid-template-columns: 2fr 1fr;
            gap: 20px;
        }
    }
}