@media (max-width: 1200px) {
    .index-platform {
        .container {
            grid-template-columns: 2fr 1fr;
            gap: 30px;
        }
    }

    .platform-advantages {
        &__list {
            grid-template-columns: 1fr 1fr;
        }

        &__item {
            height: auto;
            padding-bottom: 70px;
        }
    }

    .strategy-accordion {
        grid-template-columns: 1fr;

        li {
            min-height: auto;
            padding: 20px 10px;
        }
    }

    .with-aside {
        .container {
            grid-template-columns: 1fr;
        }

        section {
            margin-top: 80px;
            margin-bottom: 80px;
        }

        .aside {
            display: none;
        }
    }

    .review-important {
        grid-template-columns: 1fr 1fr;
    }
}