@media (max-width: 1200px) {
    .index-platform {
        .container {
            grid-template-columns: 2fr 1fr;
            gap: 30px;
        }
    }

    .platform-advantages {
        &__list {
            grid-template-columns: 1fr 1fr;
        }

        &__item {
            height: auto;
            padding-bottom: 70px;
        }
    }

    .strategy-accordion {
        grid-template-columns: 1fr;

        li {
            min-height: auto;
            padding: 20px 10px;
        }
    }

    .with-aside {
        .container {
            grid-template-columns: 1fr;
        }

        section {
            margin-top: 80px;
            margin-bottom: 80px;
        }

        .aside {
            display: none;
        }
    }

    .review-important {
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    .indexes-list {
        &__list {
            grid-template-columns: repeat(3, 1fr);
        }

        &__image {
            background: var(--coral) image-set(url(../images/indexes-list.avif), url(../images/indexes-list.webp), url(../images/indexes-list.png)) center / contain no-repeat;
        }
    }

    .cryptocurrencies-list {
        &__list {
            grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        }

        &__image {
            background: var(--coral) image-set(url(../images/cryptocurrencies-image.avif),
                    url(../images/cryptocurrencies-image.webp),
                    url(../images/cryptocurrencies-image.png)) left bottom / contain no-repeat;
        }
    }

    .raw-materials-list {
        &__list {
            grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        }

        &__image {
            background: var(--coral) image-set(url(../images/raw-materials-image.avif), url(../images/raw-materials-image.webp), url(../images/raw-materials-image.png)) left bottom / contain no-repeat;
        }
    }

    .history-support {
        h2 {
            margin-bottom: 25px;
        }

        .container {
            grid-template-columns: 300px 1fr;
        }

        &__image {
            width: 300px;
            height: 300px;
        }
    }

    .history-in-numbers {
        &__list {
            display: none;
        }

        .swiper10 {
            display: block;

            .swiper-slide {
                max-width: 300px;
            }

            .swiper-pagination {
                position: initial;
                margin-top: 25px;
            }

            .swiper-pagination-bullet {
                width: 10px;
                height: 10px;

                &-active {
                    background: var(--purple);
                }
            }
        }
    }
}