@media (max-width: 1200px) {
    .index-platform {
        .container {
            grid-template-columns: 2fr 1fr;
            gap: 30px;
        }
    }

    .platform-advantages {
        &__list {
            grid-template-columns: 1fr 1fr;
        }

        &__item {
            height: auto;
            padding-bottom: 70px;
        }
    }
}