@media (max-width: 1300px) {
    .header {
        &__box {
            max-width: calc(100% - 30px);
        }
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}