@media (max-width: 360px) {
    .index-analitycs {
        &__grid {
            gap: 15px;
        }
    }

    .widget-box {
        margin-left: -15px !important;
        margin-right: -15px !important;
    }
}