@media (max-width: 500px) {
    .btn {
        width: 100%;
        text-align: center;

        &-white {
            width: 100%;
            text-align: center;
        }

        &-coral {
            width: 100%;
            text-align: center;
        }
    }

    .index-hero {
        .btn-white {
            width: calc(100% - 20px);
        }
    }

    .index-start {
        p {
            width: 100%;
        }

        &__item {
            height: 380px;

            &:nth-child(1) {
                background: var(--white) image-set(url(../images/index-start-item-1.avif),
                        url(../images/index-start-item-1.webp),
                        url(../images/index-start-item-1.png)) center bottom -6px / 300px 191px no-repeat;

                &:after {
                    display: none;
                }
            }

            &:nth-child(2) {
                background: var(--white) image-set(url(../images/index-start-item-2.avif),
                        url(../images/index-start-item-2.webp),
                        url(../images/index-start-item-2.png)) center bottom 10px / 300px 170px no-repeat;

                &:after {
                    display: none;
                }
            }

            &:nth-child(3) {
                background: var(--white) image-set(url(../images/index-start-item-3.avif),
                        url(../images/index-start-item-3.webp),
                        url(../images/index-start-item-3.png)) center bottom -5px / 310px 185px no-repeat;
            }
        }
    }

    .platform-advantages {
        &__list {
            grid-template-columns: 1fr;
        }

        &__item {
            height: 220px;
            padding: 20px 10px 80px;
        }
    }
}