@media (max-width: 500px) {
    .btn {
        width: 100%;
        text-align: center;

        &-white {
            width: 100%;
            text-align: center;
        }

        &-coral {
            width: 100%;
            text-align: center;
        }
    }

    .index-hero {
        .btn-white {
            width: calc(100% - 20px);
        }
    }

    .index-start {
        p {
            width: 100%;
        }

        &__item {
            height: 380px;

            &:nth-child(1) {
                background: var(--white) image-set(url(../images/index-start-item-1.avif),
                        url(../images/index-start-item-1.webp),
                        url(../images/index-start-item-1.png)) center bottom -6px / 300px 191px no-repeat;

                &:after {
                    display: none;
                }
            }

            &:nth-child(2) {
                background: var(--white) image-set(url(../images/index-start-item-2-mobile.avif),
                        url(../images/index-start-item-2-mobile.webp),
                        url(../images/index-start-item-2-mobile.png)) center bottom 65px / 255px 100px no-repeat;

                &:after {
                    display: none;
                }
            }

            &:nth-child(3) {
                background: var(--white) image-set(url(../images/index-start-item-3.avif),
                        url(../images/index-start-item-3.webp),
                        url(../images/index-start-item-3.png)) center bottom -5px / 310px 185px no-repeat;
            }
        }
    }

    .platform-advantages {
        &__list {
            grid-template-columns: 1fr;
        }

        &__item {
            height: 220px;
            padding: 20px 10px 80px;

            &:nth-child(1) {
                .platform-advantages__box {
                    max-width: 95%;
                }
            }

            &:nth-child(3) {
                .platform-advantages__box {
                    max-width: 80%;
                }
            }

            &:nth-child(4) {
                .platform-advantages__box {
                    max-width: 92%;
                }
            }
        }
    }

    .personal-account {
        h2 {
            text-align: left;
        }

        &__box {
            gap: 25px;
            text-align: left;
        }
    }

    .review-important {
        .widget-box {
            width: 320px;
            margin: auto;
        }
    }

    .condition-instruments {
        &__item {
            &:nth-child(1) {
                p {
                    text-align: left;
                }
            }

            &:nth-child(2) {
                p {
                    text-align: left;
                }
            }

            &:nth-child(3) {
                p {
                    text-align: left;
                }
            }
        }
    }

    .news-box {
        &__list {
            grid-template-columns: 1fr;
        }
    }

    .pagination {
        margin-top: 25px;

        li {
            max-width: 40px;
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
        }
    }

    .other {
        &__list {
            grid-template-columns: 1fr;
        }
    }

    .calendar-find {
        &__list {
            grid-template-columns: 1fr;
        }
    }

    .terms-advantages {
        h2 {
            margin-bottom: 25px;
        }

        &__item {
            height: 230px;
            padding: 20px 10px;

            &.slide-1 {
                background: var(--coral) image-set(url(../images/terms-advantages-slide-1.avif), url(../images/terms-advantages-slide-1.webp), url(../images/terms-advantages-slide-1.png)) left -5px bottom -5px / 155px 119px no-repeat;
            }

            &.slide-2 {
                background: var(--coral) image-set(url(../images/terms-advantages-slide-2.avif), url(../images/terms-advantages-slide-2.webp), url(../images/terms-advantages-slide-2.png)) left 10px bottom 10px / 109px 109px no-repeat;
            }

            &.slide-3 {
                background: var(--coral) image-set(url(../images/terms-advantages-slide-3.avif), url(../images/terms-advantages-slide-3.webp), url(../images/terms-advantages-slide-3.png)) left 10px bottom -5px / 183px 126px no-repeat;
            }

            &.slide-4 {
                background: var(--coral) image-set(url(../images/terms-advantages-slide-4.avif), url(../images/terms-advantages-slide-4.webp), url(../images/terms-advantages-slide-4.png)) left 10px bottom / 156px 126px no-repeat;
            }

            &.slide-5 {
                background: var(--coral) url(../images/terms-advantages-slide-5.svg) left 0 bottom / 124px 120px no-repeat;
            }

            &.slide-6 {
                background: var(--coral) image-set(url(../images/terms-advantages-slide-6.avif), url(../images/terms-advantages-slide-6.webp), url(../images/terms-advantages-slide-6.png)) left 10px bottom / 155px 115px no-repeat;
            }

            &.slide-7 {
                background: var(--coral) image-set(url(../images/terms-advantages-slide-7.avif), url(../images/terms-advantages-slide-7.webp), url(../images/terms-advantages-slide-7.png)) left 10px bottom -5px / 211px 126px no-repeat;
            }
        }
    }

    .banner {
        .container {
            display: flex;
            gap: 25px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 325px;
            padding: 50px 15px;
        }

        h2 {
            margin: 0;
        }

        .btn-white {
            margin: 0;
        }
    }

    .form {
        label {
            &[for="checkbox"] {
                grid-template-columns: 30px 1fr;
            }
        }
    }

    .contacts {
        h2 {
            margin-bottom: 25px;
        }

        &__item {
            padding: 20px 10px;
        }

        &__map {
            padding: 0;
        }
    }

    .error-hero {
        .btn-white {
            width: calc(100% - 30px);
        }
    }

    .why {
        h2 {
            margin-bottom: 25px;
        }

        &__list {
            grid-template-columns: 1fr;
        }
    }

    main {
        &>section {
            &:first-child {
                .box {
                    border-radius: 40px;
                }
            }
        }
    }

    .history {
        margin-top: -80px;
        padding-top: 80px;
        background: image-set(url(../images/history-bg-mobile.avif), url(../images/history-bg-mobile.webp), url(../images/history-bg-mobile.png)) center / 100% 100% no-repeat;

        &__item {
            padding: 20px 10px;

            strong {
                font-weight: 500;
            }
        }
    }
}