@media (max-width: 768px) {

    .index-hero {
        &__list {
            display: none;
        }

        .swiper9 {
            display: block;
        }
    }

    .index-analitycs {
        &__list {
            grid-template-columns: 1fr;
        }

        &__item {
            padding: 20px 10px;
        }
    }

    .banner {
        .btn-white {
            margin-top: 25px;
        }
    }

    .crumbs {
        margin-bottom: 20px;
    }

    .start-instruments {
        h2 {
            &+p {
                padding-left: 1px;
                padding-right: 1px;
                margin-bottom: 25px;
            }
        }
    }

    .terms-types {
        h2 {
            &+p {
                margin-bottom: 25px;
            }
        }

        h3 {
            margin-bottom: 20px;
        }

        ul {
            margin-top: 20px;
        }
    }

    .platform-platform {
        &__item {
            padding: 20px 10px;

            &:nth-child(1) {
                padding-bottom: 150px;
                background: image-set(url(../images/platform-bg-1.avif), url(../images/platform-bg-1.webp), url(../images/platform-bg-1.png)) right bottom 8px / 260px 233px no-repeat;
            }

            &:nth-child(2) {
                padding-bottom: 80px;
                background: image-set(url(../images/platform-bg-2.avif), url(../images/platform-bg-2.webp), url(../images/platform-bg-2.png)) right 47px bottom 10px / 240px 216px no-repeat;
            }

            &.mobile {
                gap: 190px;
                background: image-set(url(../images/platform-bg-mobile-3.avif), url(../images/platform-bg-mobile-3.webp), url(../images/platform-bg-mobile-3.png)) right 18px bottom 20px / 201px 310px no-repeat;

                .platform-platform__links {
                    grid-template-columns: 0.5fr;
                }
            }

            p {
                max-width: 100%;
            }
        }

        &__links {
            display: grid;
            grid-template-columns: 0.5fr;
            gap: 10px;
        }

        .btn-white {
            padding: 16px 10px;
        }

        .btn-coral {
            padding: 16px 10px;
        }
    }

    table.times {
        width: 100%;

        td {
            width: 50%;
        }
    }

    .condition-instruments {
        &__item {
            padding: 20px 10px;
        }
    }

    .news-box {
        &__item {
            padding: 10px;

            img {
                margin-bottom: 20px;
            }
        }
    }

    .single {
        &__image {
            height: 250px;
            margin-bottom: 25px;
        }

        p {
            &.single__link {
                margin-top: 25px;
                margin-bottom: 0;
            }
        }
    }

    .currencies-list {
        &__item {
            min-height: 180px;
        }
    }

    .currencies-instrument {
        .container {
            grid-template-columns: 1fr;
        }

        .widget-box {
            .mch-widget {
                margin: auto;
            }
        }
    }

    .form {
        &__grid {
            grid-template-columns: 1fr;
        }
    }
}