@media (max-width: 992px) {
    .footer {
        padding-top: 80px;

        &__logo {
            width: 229px;
            height: 45px;
            margin-left: 0;
        }

        .menu {
            grid-template-columns: 1fr 1fr;
        }
    }
}