@media (min-width: 1024px) {
    .btn {
        &-white {
            &:hover {
                color: var(--white);
                background: var(--purple);
                transition: var(--transition);
            }
        }

        &-coral {
            &:hover {
                color: var(--white);
                background: var(--purple);
                transition: var(--transition);
            }
        }
    }

    .header {
        .menu {
            &>.menu-item {
                &>a {
                    &::after {
                        transition: var(--transition);
                    }
                }

                &:hover {
                    &>a {
                        &::after {
                            rotate: (180deg);
                        }
                    }

                    .sub-menu {
                        transform: translateX(-50%);
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }

            .sub-menu {
                transition: var(--transition);

                a {
                    transition: var(--transition);

                    &:hover {
                        color: var(--coral);
                    }
                }
            }
        }
    }

    .index-grid {
        .btn-white {
            &:hover {
                width: calc(100% - 12px);
                background: var(--white);
                box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2509803922);

                div {
                    position: initial;
                    opacity: 1;
                    font-size: 18px;
                }
            }
        }
    }

    .documents {
        &__item {
            position: relative;
        }

        .btn-white {
            &:hover {
                width: calc(100% - 12px);
                background: var(--white);
                box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2509803922);

                div {
                    position: initial;
                    opacity: 1;
                    font-size: 18px;
                }
            }
        }
    }

    .start-instruments {
        &__table {
            table {
                tr {
                    &:hover {
                        background: #ECC3EC;
                    }
                }
            }
        }

        &__buy {
            &:hover {
                background: #70B857;
            }
        }

        &__show {
            &:hover {
                color: var(--coral);

                &::after {
                    filter: brightness(0) saturate(100%) invert(74%) sepia(13%) saturate(3857%) hue-rotate(310deg) brightness(98%) contrast(79%);
                }
            }
        }

        &__hide {
            &:hover {
                color: var(--coral);

                &::after {
                    filter: brightness(0) saturate(100%) invert(74%) sepia(13%) saturate(3857%) hue-rotate(310deg) brightness(98%) contrast(79%);
                }
            }
        }
    }

    .calendar-find {
        .btn-white {
            &:hover {
                width: calc(100% - 12px);
                background: var(--white);
                box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2509803922);

                div {
                    position: initial;
                    opacity: 1;
                    font-size: 18px;
                }
            }
        }
    }

    .currencies-list {
        .btn-white {
            &:hover {
                width: calc(100% - 12px);
                background: var(--white);
                box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2509803922);

                div {
                    position: initial;
                    opacity: 1;
                    font-size: 18px;
                }
            }
        }
    }

    .stocks-list {
        .btn-white {
            &:hover {
                width: calc(100% - 12px);
                background: var(--white);
                box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2509803922);

                div {
                    position: initial;
                    opacity: 1;
                    font-size: 18px;
                }
            }
        }
    }

    .indexes-list {
        .btn-white {
            &:hover {
                width: calc(100% - 12px);
                background: var(--white);
                box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2509803922);

                div {
                    position: initial;
                    opacity: 1;
                    font-size: 18px;
                }
            }
        }
    }

    .raw-materials-list {
        .btn-white {
            &:hover {
                width: calc(100% - 12px);
                background: var(--white);
                box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2509803922);

                div {
                    position: initial;
                    opacity: 1;
                    font-size: 18px;
                }
            }
        }
    }

    .cryptocurrencies-list {
        .btn-white {
            &:hover {
                width: calc(100% - 12px);
                background: var(--white);
                box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2509803922);

                div {
                    position: initial;
                    opacity: 1;
                    font-size: 18px;
                }
            }
        }
    }

    .platform-advantages {
        .btn-white {
            &:hover {
                width: calc(100% - 12px);
                background: var(--white);
                box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2509803922);

                div {
                    position: initial;
                    opacity: 1;
                    font-size: 18px;
                }
            }
        }
    }

    .terms-advantages {
        .btn-white {
            &:hover {
                width: calc(100% - 12px);
                background: var(--white);
                box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2509803922);

                div {
                    position: initial;
                    opacity: 1;
                    font-size: 18px;
                }
            }
        }
    }

    .index-start {
        .btn-white {
            &:hover {
                width: calc(100% - 12px);
                background: var(--white);
                box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2509803922);

                div {
                    position: initial;
                    opacity: 1;
                    font-size: 18px;
                }
            }
        }
    }

    .footer {
        .menu {
            &>.menu-item {
                &>a {
                    cursor: initial;
                }
            }

            .sub-menu {
                transition: var(--transition);

                a {
                    transition: var(--transition);

                    &:hover {
                        color: var(--coral);
                    }
                }
            }
        }
    }

    .index-analitycs {
        &__box {
            a {
                transition: var(--transition);

                &:hover {
                    color: var(--coral);
                }
            }
        }
    }

    .swiper1 {

        .swiper-button-prev,
        .swiper-button-next {
            transition: var(--transition);

            &:hover {
                filter: brightness(0) saturate(100%) invert(80%) sepia(53%) saturate(2290%) hue-rotate(306deg) brightness(91%) contrast(92%);
            }
        }
    }

    .platform-platform {
        .btn-coral {
            svg {
                path {
                    transition: var(--transition);
                }
            }

            &:hover {
                svg {
                    path {
                        fill: var(--white);
                    }
                }
            }
        }

        .btn-white {
            svg {
                path {
                    transition: var(--transition);
                }
            }

            &:hover {
                svg {
                    path {
                        fill: var(--white);
                    }
                }
            }
        }
    }

    .news-box {
        &__link {
            &:hover {
                color: var(--coral);
            }
        }
    }

    .other {
        &__link {
            &:hover {
                color: var(--coral);
            }
        }
    }

    .single {
        &__link {
            a {
                &:hover {
                    color: var(--coral);
                }
            }
        }
    }

    .forecasts-box {
        &__link {
            &:hover {
                color: var(--coral);
            }
        }
    }

    .pagination {
        a {
            &:hover {
                color: var(--coral);
            }
        }
    }

    .contacts {
        &__tel {
            &:hover {
                color: var(--purple);
            }
        }

        &__email {
            &:hover {
                color: var(--purple);
            }
        }
    }

    form {
        label[for="checkbox"] {
            a {
                &:hover {
                    color: var(--coral);
                }
            }
        }

        input {
            &[type="submit"] {
                &:hover {
                    background: var(--purple);
                    color: var(--white);
                }
            }
        }
    }
}