@media (min-width: 1024px) {
    .btn {
        &-white {
            &:hover {
                color: var(--white);
                background: var(--purple);
                transition: var(--transition);
            }
        }

        &-coral {
            &:hover {
                color: var(--white);
                background: var(--purple);
                transition: var(--transition);
            }
        }
    }

    .header {
        .menu {
            &>.menu-item {
                &:hover {
                    .sub-menu {
                        transform: translateX(-50%);
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }

            .sub-menu {
                transition: var(--transition);

                a {
                    transition: var(--transition);

                    &:hover {
                        color: var(--purple);
                    }
                }
            }
        }
    }

    .index-grid {
        .btn-white {
            &:hover {
                width: calc(100% - 12px);
                background: var(--white);

                div {
                    position: initial;
                    opacity: 1;
                    font-size: 18px;
                }
            }
        }
    }

    .index-start {
        .btn-white {
            &:hover {
                width: calc(100% - 12px);
                background: var(--white);

                div {
                    position: initial;
                    opacity: 1;
                    font-size: 18px;
                }
            }
        }
    }

    .footer {
        .menu {
            &>.menu-item {
                &>a {
                    cursor: initial;
                }
            }

            .sub-menu {
                transition: var(--transition);

                a {
                    transition: var(--transition);

                    &:hover {
                        color: var(--purple);
                    }
                }
            }
        }
    }

    .index-analitycs {
        &__box {
            a {
                transition: var(--transition);

                &:hover {
                    color: var(--purple);
                }
            }
        }
    }
}