@media (min-width: 1024px) {
    .btn {
        &-white {
            &:hover {
                color: var(--white);
                background: var(--purple);
                transition: var(--transition);
            }
        }

        &-coral {
            &:hover {
                color: var(--white);
                background: var(--purple);
                transition: var(--transition);
            }
        }
    }

    .header {
        .menu {
            &>.menu-item {
                &:hover {
                    .sub-menu {
                        transition: var(--transition);
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }

            .sub-menu {
                a {
                    &:hover {
                        transition: var(--transition);
                        color: var(--purple);
                    }
                }
            }
        }
    }
}