@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/swiper/swiper-bundle';
@import '../scss/keyframes';

:root {
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;

    scrollbar-width: thin;
    scrollbar-color: var(--violet) var(--body-bg);

    &::-webkit-scrollbar {
        height: 12px;
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: var(--body-bg);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--violet);
        border-radius: 5px;
        border: 3px solid var(--body-bg);
    }
}

@import '../scss/hovers';
@import '../scss/1800';
@import '../scss/1400';
@import '../scss/1300';
@import '../scss/1200';
@import '../scss/1024';
@import '../scss/992';
@import '../scss/900';
@import '../scss/768';
@import '../scss/700';
@import '../scss/600';
@import '../scss/500';
@import '../scss/360';