<section class="index-reviews">
    <div class="container">
        <h2>Отзывы клиентов</h2>
        <p class="textm">Мы ценим доверие наших клиентов, которые выбирают нас за надежность, открытость и высокий уровень сервиса</p>

        <div class="swiper swiper1">
            <div class="swiper-wrapper">
                <div class="swiper-slide index-reviews__item">
                    <div class="index-reviews__box">
                        <p class="textm">«Сотрудничаю с TradeGate уже несколько месяцев, всё на высшем уровне. Ордеры исполняются моментально, спреды стабильные. Очень доволен поддержкой — всегда оперативно отвечают!»</p>

                        <div class="index-reviews__stars"></div>
                    </div>

                    <div class="index-reviews__author">
                        <picture class="index-reviews__image">
                            <source srcset="images/index-author-1.avif">
                            <source srcset="images/index-author-1.webp">
                            <img src="images/index-author-1.png" alt="">
                        </picture>

                        <div class="texts">Алексей П.</div>
                    </div>
                </div>

                <div class="swiper-slide index-reviews__item">
                    <div class="index-reviews__box">
                        <p class="textm">«Для меня важна прозрачность условий, и TradeGate полностью оправдал ожидания. Пополнение и вывод средств проходят быстро, платформа удобная и понятная. Рекомендую всем, кто ищет надёжного брокера».</p>

                        <div class="index-reviews__stars"></div>
                    </div>

                    <div class="index-reviews__author">
                        <picture class="index-reviews__image">
                            <source srcset="images/index-author-2.avif">
                            <source srcset="images/index-author-2.webp">
                            <img src="images/index-author-2.png" alt="">
                        </picture>

                        <div class="texts">Екатерина М.</div>
                    </div>
                </div>

                <div class="swiper-slide index-reviews__item">
                    <div class="index-reviews__box">
                        <p class="textm">«Отличный брокер! Серьёзно отношусь к анализу, и особенно ценю их инструменты для технического анализа и рыночную аналитику. Плюс обучение помогло начать торговать уверенно с первых дней».</p>

                        <div class="index-reviews__stars"></div>
                    </div>

                    <div class="index-reviews__author">
                        <picture class="index-reviews__image">
                            <source srcset="images/index-author-3.avif">
                            <source srcset="images/index-author-3.webp">
                            <img src="images/index-author-3.png" alt="">
                        </picture>

                        <div class="texts">Иван К.</div>
                    </div>
                </div>

                <div class="swiper-slide index-reviews__item">
                    <div class="index-reviews__box">
                        <p class="textm">«Пользуюсь услугами TradeGate около года. Очень радует скорость ввода и вывода средств — всегда оперативно. Удобная платформа и приятный интерфейс делают процесс торговли комфортным».</p>

                        <div class="index-reviews__stars"></div>
                    </div>

                    <div class="index-reviews__author">
                        <picture class="index-reviews__image">
                            <source srcset="images/index-author-4.avif">
                            <source srcset="images/index-author-4.webp">
                            <img src="images/index-author-4.png" alt="">
                        </picture>

                        <div class="texts">Ольга С.</div>
                    </div>
                </div>

                <div class="swiper-slide index-reviews__item">
                    <div class="index-reviews__box">
                        <p class="textm">«TradeGate стал для меня отличным открытием. Понравилась клиентоориентированность и качественная поддержка. Спреды конкурентные, а исполнение ордеров мгновенное. Очень рекомендую!»</p>

                        <div class="index-reviews__stars"></div>
                    </div>

                    <div class="index-reviews__author">
                        <picture class="index-reviews__image">
                            <source srcset="images/index-author-5.avif">
                            <source srcset="images/index-author-5.webp">
                            <img src="images/index-author-5.png" alt="">
                        </picture>

                        <div class="texts">Сергей В.</div>
                    </div>
                </div>

                <div class="swiper-slide index-reviews__item">
                    <div class="index-reviews__box">
                        <p class="textm">«Очень довольна TradeGate. Простая регистрация, быстрый старт и хорошая аналитика. Приятно иметь дело с брокером, который ценит время своих клиентов и обеспечивает качественный сервис».</p>

                        <div class="index-reviews__stars"></div>
                    </div>

                    <div class="index-reviews__author">
                        <picture class="index-reviews__image">
                            <source srcset="images/index-author-6.avif">
                            <source srcset="images/index-author-6.webp">
                            <img src="images/index-author-6.png" alt="">
                        </picture>

                        <div class="texts">Марина Т.</div>
                    </div>
                </div>

                <div class="swiper-slide index-reviews__item">
                    <div class="index-reviews__box">
                        <p class="textm">«Платформа TradeGate работает чётко, без зависаний. Прозрачные условия и выгодные спреды делают торговлю комфортной и прибыльной. Особенно радует моментальный вывод средств!»</p>

                        <div class="index-reviews__stars"></div>
                    </div>

                    <div class="index-reviews__author">
                        <picture class="index-reviews__image">
                            <source srcset="images/index-author-7.avif">
                            <source srcset="images/index-author-7.webp">
                            <img src="images/index-author-7.png" alt="">
                        </picture>

                        <div class="texts">Николай Д.</div>
                    </div>
                </div>

                <div class="swiper-slide index-reviews__item">
                    <div class="index-reviews__box">
                        <p class="textm">«TradeGate предложил идеальные условия для торговли. Быстрое исполнение сделок, маржинальное плечо и отсутствие скрытых комиссий — всё это делает его идеальным брокером для активной торговли».</p>

                        <div class="index-reviews__stars"></div>
                    </div>

                    <div class="index-reviews__author">
                        <picture class="index-reviews__image">
                            <source srcset="images/index-author-8.avif">
                            <source srcset="images/index-author-8.webp">
                            <img src="images/index-author-8.png" alt="">
                        </picture>

                        <div class="texts">Анна Р.</div>
                    </div>
                </div>

                <div class="swiper-slide index-reviews__item">
                    <div class="index-reviews__box">
                        <p class="textm">«Уже более полугода работаю с TradeGate, и доволен результатами. Платформа удобная и надёжная, сделки проводятся быстро, а поддержка всегда на связи. Отличный брокер!»</p>

                        <div class="index-reviews__stars"></div>
                    </div>

                    <div class="index-reviews__author">
                        <picture class="index-reviews__image">
                            <source srcset="images/index-author-9.avif">
                            <source srcset="images/index-author-9.webp">
                            <img src="images/index-author-9.png" alt="">
                        </picture>

                        <div class="texts">Дмитрий С.</div>
                    </div>
                </div>

                <div class="swiper-slide index-reviews__item">
                    <div class="index-reviews__box">
                        <p class="textm">«TradeGate — это надёжный партнёр для торговли на финансовых рынках. Радует широкий выбор инструментов, продвинутая аналитика и возможность быстрого вывода средств. Рекомендую!»</p>

                        <div class="index-reviews__stars"></div>
                    </div>

                    <div class="index-reviews__author">
                        <picture class="index-reviews__image">
                            <source srcset="images/index-author-10.avif">
                            <source srcset="images/index-author-10.webp">
                            <img src="images/index-author-10.png" alt="">
                        </picture>

                        <div class="texts">Владимир Л.</div>
                    </div>
                </div>
            </div>

            <div class="swiper-pagination"></div>

            <div class="index-reviews__buttons">
                <div class="swiper-button-prev"></div>
                <div class="index-reviews__line"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>